.page1 {
    border: 3px solid rgba(84, 226, 231, 0.8);
    font-size: calc(5px + 2vmin);
    color: black;
    margin: 10px;
    padding: 40px;
    min-height: 90vh;
}

.btn-login {
    text-align: center;
    width: 200px;
}

.text-err {
    color: red;
}