.App {
  background-color: aqua;
}

/* .App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(15px + 2vmin);
} */

.buttonText {
  color: #4285f4;
  font-weight: bolder;
}

.icon {
  height: 25px;
  width: 25px;
  margin-right: 0px;
  position: absolute;
  left: 30px;
  align-items: center;
}